.drop-down {
  display: none;
  content: "";
  position: absolute;
  top: 47px;
  width: 300px;
  height: 300px;
  padding: 40px 0; 
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  opacity: 0;
}

.drop-down_active {
  display: block;
  z-index: 1;
  opacity: 1;
}

.drop-down__scroll-aria {
  width: 300px;
  height: 220px;
  padding: 0 40px;
}

.drop-down__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 220px;
  height: 40px;
  padding-left: 14px;
  margin-bottom: 20px;
  color:#fff;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

.drop-down__item:last-child {
  margin-bottom: 0;
}

.drop-down__item:hover {
  outline: 2px solid var(--state-semi-dark);
  outline-offset: -2px;
}

.drop-down__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:  rgba(194, 131, 243, 0.4);
  opacity: 0;
}

.drop-down__item:active .drop-down__link {
  z-index: 2;
}

.drop-down__item:active::before {
  opacity: 1;
}



.drop-down__item .drop-down__link:focus {
  outline: none;
}

.drop-down__item-focus {
  outline: 2px solid var(--state-semi-dark);
  outline-offset: -2px;
}

/* reality */

.drop-down__item_tintoretto {
  background-image: url("../../../img/backgrounds/drop-down-bg/reality/tintoretto-bg.jpg");
}

.drop-down__item_fridrih {
  background-image: url("../../../img/backgrounds/drop-down-bg/reality/fridrih-bg.jpg");
}

.drop-down__item_leonardo {
  background-image: url("../../../img/backgrounds/drop-down-bg/reality/leonardo-bg.jpg");
}

.drop-down__item_verrokkyo {
  background-image: url("../../../img/backgrounds/drop-down-bg/reality/verrokkyo-bg.jpg");
}

/* impression */

.drop-down__item_mone {
  background-image: url("../../../img/backgrounds/drop-down-bg/impression/mone-bg.jpg");
}

.drop-down__item_sisley {
  background-image: url("../../../img/backgrounds/drop-down-bg/impression/sisley-bg.jpg");
}

.drop-down__item_mane {
  background-image: url("../../../img/backgrounds/drop-down-bg/impression/mane-bg.jpg");
}

.drop-down__item_renuar {
  background-image: url("../../../img/backgrounds/drop-down-bg/impression/renuar-bg.jpg");
}

/* postimpression */

.drop-down__item_vangog {
  background-image: url("../../../img/backgrounds/drop-down-bg/postimpression/vangog-bg.jpg");
}

.drop-down__item_sezann {
  background-image: url("../../../img/backgrounds/drop-down-bg/postimpression/sezan-bg.jpg");
}

.drop-down__item_gugen {
  background-image: url("../../../img/backgrounds/drop-down-bg/postimpression/gugen-bg.jpg");
}

.drop-down__item_syora {
  background-image: url("../../../img/backgrounds/drop-down-bg/postimpression/syora-bg.jpg");
}

/* avangard */

.drop-down__item_kandinskiy {
  background-image: url("../../../img/backgrounds/drop-down-bg/avangard/kandinskiy-bg.jpg");
}

.drop-down__item_marinetty {
  background-image: url("../../../img/backgrounds/drop-down-bg/avangard/marinetty-bg.jpg");
}

.drop-down__item_malevich {
  background-image: url("../../../img/backgrounds/drop-down-bg/avangard/malevich-bg.jpg");
}

.drop-down__item_picasso {
  background-image: url("../../../img/backgrounds/drop-down-bg/avangard/picasso-bg.jpg");
}

/* futurism */

.drop-down__item_karra {
  background-image: url("../../../img/backgrounds/drop-down-bg/futurism/karra-bg.jpg");
}

.drop-down__item_pratella {
  background-image: url("../../../img/backgrounds/drop-down-bg/futurism/pratella-bg.jpg");
}

.drop-down__item_severiny {
  background-image: url("../../../img/backgrounds/drop-down-bg/futurism/severiny-bg.jpg");
}
.drop-down__item_balla {
  background-image: url("../../../img/backgrounds/drop-down-bg/futurism/balla-bg.jpg");
}

.drop-down__link {
  position: relative;
  display: block;
}

.simplebar-track {
  right: 17px;
  bottom: 0;
}

.simplebar-track.simplebar-vertical {
  width: 3px;
  background-color: #000;
}

.simplebar-scrollbar {
  background-color:#fff;
}

