@media (max-width: 1640px) {
  .header__logo {
    max-width: unset;
    margin-right: 8px;
  }

  .header__nav-panel {
    padding-bottom: 28px;
  }

  .header__nav-list {
    width: 100%;
    justify-content: center;
    padding-right: 20px;
  }

  .header__nav-item {
    margin-right: 50px;
  }

  .header__catalog-section {
    margin-right: 60px;
  }
}

/* pixel perfect on 1024px */
@media (max-width: 1240px) {
  .header__catalog {
    display: none;
  }

  .hamburger {
    display: block;
    width: 36px;
    height: 28px;
    cursor: pointer;
  }

  .header__nav-block {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    padding-top: 38px;
    padding-left: 48px;
    padding-bottom: 50px;
    background-color: #000;
  
    transform: translateX(-100%);
    transition: 0.3s transform ease-in-out;
    opacity: 0;
    z-index: 3;
  }

  .header__nav-block-active {
    transform: translateX(0);
  }

  .header__menu-close {
    display: block;
    height: 29px;
    width: 29px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .header__nav-list {
    position: relative;
    flex-direction: column;
    align-items: start;
    width: unset;
  }

  .header__nav-item {
    margin-right: 0;
  }

  .header__link {
    line-height: 64px;
    font-size: 24px;
  }

  .header__entrance {
    padding: 19px 101px;
    border: 3px solid var(--state-semi-dark);
    border-radius: 100px;
    cursor: pointer;
  }

  .header__entrance::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 83px;
    background-image: url("../../../icons/entrance.svg");
  }

  .header__entrance:hover .header__entrance-link {
    color: var(--state-semi-light);
  }

  .header__entrance:hover::after {
    left: 79px;
    width: 18px;
    background-image: url("../../../icons/entrance-hover.svg");
  }

  .header__entrance:active::after {
    left: 79px;
    width: 18px;
    background-image: url("../../../icons/entrance-active.svg");
  }

  .header__entrance:active .header__entrance-link {
    color: var(--state-dark);
  }

  .header__search-icon-mobile {
    display: block;
    width: 29px;
    height: 29px;
    cursor: pointer;
  }

  .header__search-icon-mobile_visible {
    opacity: 0;
    z-index: -1;
  }

  /* форма поиска */
  .header__search-form-mobile {
    position: absolute;
    top: 0;
    right: 0px;
    width: 314px;
    height: 34px;
    display: flex;
    align-items: flex-end;
    padding: 0 7px 0 2px;
    transition: 0.3s transform ease-in-out;
    transform: translateY(-270%);
    opacity: 0;
  }

  .header__search-form-mobile_active {
    transition: 0.3s transform ease-in-out;
    transform: translateY(0);
  }

  .header__search-btn-mobile {
    display: block;
    width: 29px;
    height: 29px;
    padding: 0;
    margin-right: 11px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .header__search-input-mobile {
    width: 218px;
    margin-right: 24px;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    cursor: pointer;
  }

  .header__search-input-mobile:focus {
    outline: none;
    border-bottom: 2px solid var(--state-semi-dark);
  }

  .header__search-close-mobile {
    display: block;
    width: 23px;
    height: 23px;
    cursor: pointer;
  }

  .header__search-close-mobile:hover rect {
    fill: var(--state-semi-dark);
  }

  .header__search-close-mobile:focus rect {
    fill: var(--state-semi-dark);
  }

  .header__search-close-mobile:focus {
    outline: none;
  }

  .header__search-close-mobile:active rect {
    fill: var(--state-dark);
  }
}

/* pixel perfect on 768px */
@media (max-width: 992px) {
  /* форма поиска */
  .header__search-form-mobile {
    width: 100%;
    height: 100%;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    background-color:#000;
  }

  .header__search-input-mobile {
    width: 100%;
  }

  .header__search-close-mobile {
    width: 29px;
    height: 29px;
  }
}

@media (max-width: 700px) {
  .hamburger {
    width: 25px;
    height: 18px;
  }

  .header__nav-block {
    padding-top: 25px;
    padding-left: 40px;
    padding-bottom: 50px;
    background-color: #000;
  }

  .header__menu-close {
    width: 22px;
    height: 22px;
  }

  .header__link {
    line-height: 54px;
    font-size: 20px;
  }

  .header__search-icon-mobile {
    width: 18px;
    height: 18px;
  }

  .header__search-btn-mobile, .header__search-btn-mobile img {
    width: 24px;
    height: 24px;
  }

  .header__search-input-mobile {
    margin-right: 15px;
  }

  .header__search-close-mobile {
    width: 24px;
  }
}

/* pixel perfect on 320px (container - 290px) */
@media (max-width: 576px) {
  .header__nav-panel {
    padding-top: 12px;
    padding-bottom: 11px;
  }

  .header__nav-block {
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 26px;
    justify-content: unset;
    background-color: #000;
  }

  .header__menu-close {
    width: 15px;
    height: 15px;
    margin-bottom: 15px;
  }

  .header__link {
    line-height: 32px;
    font-size: 16px;
  }

  .header__entrance {
    margin-top: auto;
    padding: 8px 31px 10px 45px;
  }

  .header__entrance-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  .header__entrance::after {
    content: "";
    width: 9px;
    height: 9px;
    top: 14px;
    left: 33px;
    background-size: contain;
  }

  .header__entrance:hover::after {
    width: 15px;
    height: 9px;
    left: 30px;
    background-size:contain;
  }

  .header__entrance:active::after {
    width: 15px;
    height: 9px;
    left: 30px;
    background-size:contain;
  }

  .header__entrance:active .header__entrance-link {
    color: var(--state-dark);
  }

  .header__entrance-link:focus::after {
    opacity: 0;
    z-index: -1;
  }

  .header__search-btn-mobile, .header__search-btn-mobile img {
    width: 18px;
    height: 18px;
  }

  .header__search-input-mobile {
    font-size: 16px;
    line-height: 20px;
  }

  .header__search-close-mobile {
    width: 16px;
    height: 16px;
  }
}