.header__nav-panel {
  padding-top: 30px;
  padding-bottom: 30px;
  background:#000;
}

.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

.header__menu-close {
  display: none;
}

.header__logo {
  display: block;
  max-width: 173px;
  margin-right: 179px;
}

.header__nav-block {
  position: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.header__nav-item {
  margin-right: 62px;
}

.header__nav-item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.header__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  transition: 0.3s color ease-in-out;
  z-index: 1;
}

.header__link::after {
  position: absolute;
  content: "";
  top: -3px;
  right: -8px;
  bottom: -5px;
  left: -8px;
  background-color: var(--state-dark);
  transition: 0.3s opacity ease-in-out;
  z-index: -1;
  opacity: 0;
}

.header__link:focus::after {
  opacity: 1;
}

.header__link:hover {
  color: var(--state-semi-light);
}

.header__link:active {
  color: var(--state-dark);
}

.header__link:active::after {
  opacity: 0;
}

.header__entrance {
  position: relative;
  display: block;
  padding-left: 20px;
}

.header__entrance::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 59px;
  width: 13px;
  height: 13px;
  background-image: url("../../../icons/entrance.svg");
  background-repeat: no-repeat;
  z-index: 2;
}

.header__entrance-link {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color:#fff;
  z-index: 1;
}

.header__entrance-link::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -8px;
  bottom: -5px;
  left: -29px;
  background-color: var(--state-dark);
  z-index: -1;
  opacity: 0;
}

.header__entrance-link:focus::after {
  opacity: 1;
}

.header__entrance-link:hover {
  color: var(--state-semi-light);
}

.header__entrance:hover::after {
  right: 58px;;
  width: 18px;
  background-image: url("../../../icons/entrance-hover.svg");
}

.header__entrance:active::after {
  right: 58px;
  width: 18px;
  background-image: url("../../../icons/entrance-active.svg");
}

.header__entrance-link:active {
  color: var(--state-dark);
}

.header__entrance-link:active::after {
  opacity: 0;
  display: none;
}

.header__search-icon-mobile {
  display: none;
}

.header__search-form-mobile {
  display: none;
}
/* catalog */

.header__catalog {
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__catalog-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__catalog-section {
  position: relative;
  margin-right: 99px;
  padding-right: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color:#fff;
  cursor: pointer;

  background-image: url("../../../icons/shevron-drop-down.svg");
  background-position:right 0px bottom 6px;
  background-repeat:no-repeat;
  background-size: 12px 7px;

  z-index: 1;
}

.header__catalog-section:last-child {
  margin-right: 0;
}

.header__catalog-section_open {
  background-image: url("../../../icons/shevron-drop-down-open.svg");
  background-position:right 0px bottom 6px;
  background-repeat:no-repeat;
  background-size: 12px 7px;
}

.header__catalog-section::before {
  position: absolute;
  content: "";
  top: -3px;
  right: -8px;
  bottom: -5px;
  left: -8px;
  background-color: var(--state-dark);

  background-image: url("../../../icons/shevron-drop-down.svg");
  background-position:right 8px bottom 11px;
  background-repeat:no-repeat;
  background-size: 12px 7px;

  z-index: -1;
  opacity: 0;
}

.header__catalog-section:focus::before {
  outline: none;
  opacity: 1;
}

.header__catalog-section:active::before {
  outline: none;
  opacity: 0;
  color: var(--state-dark);
  background-image: url("../../../icons/shevron-drop-down-active.svg");
  background-position:right 0px bottom 6px;
  background-repeat:no-repeat;
  background-size: 12px 7px;
}

.header__catalog-section:focus {
  outline: none;
}

.header__catalog-section:hover {
  color: var(--state-semi-dark);
  background-image: url("../../../icons/shevron-drop-down-hover.svg");
}

.header__catalog-section:active {
  color: var(--state-dark);
  background-image: url("../../../icons/shevron-drop-down-active.svg");
  background-position:right 0px bottom 6px;
  background-repeat:no-repeat;
  background-size: 12px 7px;
}

.header__catalog-section:hover:focus::before {
  background-image: url("../../../icons/shevron-drop-down-hover.svg");
}

/* search */

.header__search-desk {
  position: relative;
  display: flex;
  min-width: 247px;
  padding-left: 31px;
  cursor: pointer;
}

.header__submit-desk {
  position: absolute;
  top: 6px;
  left: -2px;
  display: block;
  width: 22px;
  height: 22px;
  background-color:transparent;
  border: none;
  background: url("../../../icons/search-icon.svg") no-repeat center/cover;
  cursor: pointer;
}

.header__submit-desk:focus {
  outline: none;
}

.header__search-text-desk {
  width: 218px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color:#fff;
  cursor: pointer;
}

.header__search-text-desk:hover {
  border: none;
  border-bottom: 1px solid var(--state-semi-light);
  color:#fff;
  outline: none;
}

.header__search-text-desk:focus {
  border: none;
  border-bottom: 1px solid var(--state-dark);
  color:#fff;
  outline: none;
}

.header__search-text-desk::-webkit-input-placeholder {
  color:rgba(255, 255, 255, 0.85);
} 

.header__search-text-desk::-moz-placeholder {
  color:rgba(255, 255, 255, 0.85);
}
  
.header__search-text-desk:-moz-placeholder {
  color:rgba(255, 255, 255, 0.85);
}

.header__search-text-desk:-ms-input-placeholder {
  color:rgba(255, 255, 255, 0.85);
}

.header__search-text-desk:focus::-webkit-input-placeholder {
  color: transparent;
} 

.header__search-text-desk:focus::-moz-placeholder {
  color: transparent;
}
  
.header__search-text-desk:focus:-moz-placeholder {
  color: transparent;
}

.header__search-text-desk:focus:-ms-input-placeholder {
  color: transparent;
}
